{
    "username b64": {
        "salt_username": "b64",
        "nonce_username": "b64",
        "tag_username": "b64",
        "pw": "hash argon2id as b64",
        "reference": "b64",
        "id": "b64",
        "validation": "sha256 b64"
    }
}
