version;file_id|
id;username;salt_username;nonce_username;hashed_password;reference;
b64;b64;b64;b64;hash argon2id as b64;b64

old:
{
    "id b64": {
        "username": "b64",
        "salt_username": "b64",
        "nonce_username": "b64",
        "hashed_password": "hash argon2id as b64",
        "reference": "b64"
    }
}
